<aside class="aside">
  <div class="author">
    <img
      src="https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/activities-fun/10-great-small-dog-breeds/maltese-portrait.jpg"
      alt="dog"
      class="author__img"
    />
    <h3 class="author__title">Autor</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam eligendi
      deleniti et accusantium mollitia. Necessitatibus accusamus consectetur
      corporis a consequatur, suscipit at doloribus quisquam atque laboriosam
      qui placeat fugiat temporibus?
    </p>
  </div>
  <div class="lists">
    <ul class="lists__sections">
      <li>Sección 1</li>
      <li>Sección 2</li>
      <li>Sección 3</li>
      <li>Sección 4</li>
      <li>Sección5</li>
    </ul>
    <ul>
      <li>Categoría 1</li>
      <li>Categoría 2</li>
      <li>Categoría 3</li>
      <li>Categoría 4</li>
      <li>Categoría 5</li>
    </ul>
  </div>
</aside>
