<main>
  <article>
    <h2>Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus
      voluptas, cumque cupiditate commodi vel quia amet consequatur esse
      quibusdam facere, dolor placeat. Cum quas sed, ducimus reiciendis
      molestias quos error.
    </p>
  </article>
  <article>
    <h2>Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam tempore
      odit pariatur ab obcaecati dignissimos quos quam, id quaerat temporibus
      minus maiores assumenda architecto praesentium nostrum corporis maxime.
      Assumenda, mollitia.
    </p>
  </article>
  <article>
    <h2>Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam tempore
      odit pariatur ab obcaecati dignissimos quos quam, id quaerat temporibus
      minus maiores assumenda architecto praesentium nostrum corporis maxime.
      Assumenda, mollitia.
    </p>
  </article>
</main>
